In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
df = pd.read_csv("finalCSV.csv")

In [19]:
df

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude
0,0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,12.926226,77.564738
1,1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,12.914659,77.559005
2,2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,12.922256,77.557671
3,3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,12.922256,77.557671
4,4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,12.967705,77.569104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,42939,51709,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,Pubs and bars,12.984103,77.728699
42940,42940,51711,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars,12.985640,77.732719
42941,42941,51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,Pubs and bars,12.991653,77.720399
42942,42942,51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,Pubs and bars,12.987295,77.731742
42943,42943,51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,Pubs and bars,12.988095,77.731779

In [4]:
df.isna().sum()

Unnamed: 0          0
Unnamed: 0.1        0
address             0
name                0
online_order        0
book_table          0
rate                0
votes               0
location            0
rest_type           0
cuisines            0
cost_for_two        0
restaurant_type     0
latitude           25
longitude          25
dtype: int64

Unnamed: 0         0
Unnamed: 0.1       0
address            0
name               0
online_order       0
book_table         0
rate               0
votes              0
location           0
rest_type          0
cuisines           0
cost_for_two       0
restaurant_type    0
latitude           0
longitude          0
dtype: int64

In [13]:
df

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,12.926226,77.564738
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,12.914659,77.559005
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,12.922256,77.557671
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,12.922256,77.557671
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,12.967705,77.569104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,Pubs and bars,12.984103,77.728699
42940,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars,12.985640,77.732719
42941,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,Pubs and bars,12.991653,77.720399
42942,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,Pubs and bars,12.987295,77.731742
42943,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,Pubs and bars,12.988095,77.731779

In [14]:
score = pd.read_csv("score.csv")

In [16]:
score

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,reviews_list,restaurant_type,latitude,longitude,polarity_score,score
0,0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,12.926226,77.564738,0.290061,921.668017
1,1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,12.914659,77.559005,0.186920,603.134846
2,2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,12.922256,77.557671,0.263614,919.592319
3,3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,12.922256,77.557671,0.200822,65.387561
4,4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,12.967705,77.569104,0.276364,174.330182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,42939,51709,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,"[('Rated 4.0', 'RATED\n Ambience- Big and spa...",Pubs and bars,12.984103,77.728699,0.032601,4.101207
42940,42940,51711,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,"[('Rated 4.0', 'RATED\n A fine place to chill...",Pubs and bars,12.985640,77.732719,0.267006,54.068705
42941,42941,51712,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,"[('Rated 5.0', ""RATED\n Food and service are ...",Pubs and bars,12.991653,77.720399,0.384670,37.389877
42942,42942,51715,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",Pubs and bars,12.987295,77.731742,0.270592,274.596272
42943,42943,51716,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,"[('Rated 5.0', 'RATED\n Great ambience , look...",Pubs and bars,12.988095,77.731779,0.368153,16.272343

In [21]:
df["score"] = score.score

In [22]:
df.head()

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude,score
0,0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,12.926226,77.564738,921.668017
1,1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,12.914659,77.559005,603.134846
2,2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,12.922256,77.557671,919.592319
3,3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,12.922256,77.557671,65.387561
4,4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,12.967705,77.569104,174.330182

In [23]:
df.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

In [24]:
df.isna().sum()

address             0
name                0
online_order        0
book_table          0
rate                0
votes               0
location            0
rest_type           0
cuisines            0
cost_for_two        0
restaurant_type     0
latitude           25
longitude          25
score               0
dtype: int64

In [25]:
df.dropna()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude,score
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,12.926226,77.564738,921.668017
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,12.914659,77.559005,603.134846
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,12.922256,77.557671,919.592319
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,12.922256,77.557671,65.387561
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,12.967705,77.569104,174.330182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,"136, SAP Labs India, KIADB Export Promotion In...",The Farm House Bar n Grill,No,No,3.7,34,Whitefield,"Casual Dining, Bar","North Indian, Continental",800,Pubs and bars,12.984103,77.728699,4.101207
42940,"139/C1, Next To GR Tech Park, Pattandur Agraha...",Bhagini,No,No,2.5,81,Whitefield,"Casual Dining, Bar","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars,12.985640,77.732719,54.068705
42941,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,Whitefield,Bar,Continental,1500,Pubs and bars,12.991653,77.720399,37.389877
42942,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,"ITPL Main Road, Whitefield",Bar,Finger Food,2500,Pubs and bars,12.987295,77.731742,274.596272
42943,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","Finger Food, North Indian, Continental",1500,Pubs and bars,12.988095,77.731779,16.272343

In [26]:
df2 = df.groupby(by=["name","address"]).mean(["rate","votes","cost_for_two","score"])
df2.head()

,,rate,votes,cost_for_two,latitude,longitude,score
name,address,,,,,,
#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, Devarabisanahalli, Near Sakra World Hospital",3.4,7.0,200.0,12.932102,77.685181,3.993937
#L-81 Cafe,"Sector 6, HSR Layout, HSR",3.9,48.0,400.0,12.916542,77.651955,53.072359
#refuel,"7, Ground Floor, RR Commercial Complex, Akshay Nagar, Bannerghatta Road, Bangalore",3.7,37.0,400.0,12.976747,77.575279,32.932056
1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",3.2,49.0,300.0,12.934657,77.623220,18.597333
100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd Phase, BTM, Bangalore",3.7,41.0,450.0,12.919468,77.615494,22.720553

In [28]:
df3 = df2.reset_index()

In [29]:
df3

,name,address,rate,votes,cost_for_two,latitude,longitude,score
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",3.400000,7.000000,200.000000,12.932102,77.685181,3.993937
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",3.900000,48.000000,400.000000,12.916542,77.651955,53.072359
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",3.700000,37.000000,400.000000,12.976747,77.575279,32.932056
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",3.200000,49.000000,300.000000,12.934657,77.623220,18.597333
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",3.700000,41.000000,450.000000,12.919468,77.615494,22.720553
...,...,...,...,...,...,...,...,...
10013,iSpice Resto Cafe,"115,18th Main Road, Indiranagar, Bangalore",3.700000,30.142857,542.857143,12.962545,77.642771,14.245240
10014,nu.tree,"12th Floor, Gamma Building, Sigma Soft Tech Pa...",4.200000,52.000000,400.000000,12.958029,77.744308,72.293575
10015,nu.tree,"36 Aarush, Sri Balaji Layout, Ambulipura, Sarj...",4.366667,286.000000,400.000000,12.917018,77.673182,468.334025
10016,nu.tree,"Ground Floor-Lobby Area, Brigade IRV Centre, N...",4.300000,177.666667,400.000000,12.969846,77.751038,300.323745
10017,re:cess - Hilton Bangalore Embassy GolfLinks,"Hilton Bangalore Embassy GolfLinks, Embassy Go...",4.100000,146.000000,1200.000000,12.953823,77.641134,102.742653

In [31]:
df3.name.unique()

array(['#FeelTheROLL', '#L-81 Cafe', '#refuel', ..., 'iSpice Resto Cafe',
       'nu.tree', 're:cess - Hilton Bangalore Embassy GolfLinks'],
      dtype=object)

In [36]:
df3.to_csv("final_data.csv",index=False)

In [35]:
df3.isna().sum()

name            0
address         0
rate            0
votes           0
cost_for_two    0
latitude        0
longitude       0
score           0
dtype: int64

In [34]:
df3.dropna(inplace=True)