In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("flask123.csv")
df1 = pd.read_csv("score.csv")

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,restaurant_type,latitude,longitude,cluster
0,0.0,0.0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775.0,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,Buffet,12.926226,77.564738,4
1,1.0,1.0,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787.0,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,Buffet,12.914659,77.559005,4
2,2.0,2.0,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918.0,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,Buffet,12.922256,77.557671,4
3,3.0,3.0,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88.0,Banashankari,Quick Bites,"South Indian, North Indian",300.0,Buffet,12.922256,77.557671,4
4,4.0,4.0,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166.0,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,Buffet,12.967705,77.569104,0

In [6]:
df1["cluster"]=df["cluster"]

In [7]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost_for_two,reviews_list,restaurant_type,latitude,longitude,polarity_score,score,cluster
0,0,0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,12.926226,77.564738,0.290061,921.668017,4.0
1,1,1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,12.914659,77.559005,0.186920,603.134846,4.0
2,2,2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,12.922256,77.557671,0.263614,919.592319,4.0
3,3,3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,12.922256,77.557671,0.200822,65.387561,4.0
4,4,4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,12.967705,77.569104,0.276364,174.330182,0.0

In [9]:
df1.to_csv("final.csv")

In [15]:
df2 = df1.groupby(by=["name","address"]).mean(["rate","votes","cost_for_two","score"])
df2.head()

,,Unnamed: 0,Unnamed: 0.1,rate,votes,cost_for_two,latitude,longitude,polarity_score,score,cluster
name,address,,,,,,,,,,
#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, Devarabisanahalli, Near Sakra World Hospital",22462.500000,26916.000000,3.4,7.0,200.0,12.932102,77.685181,0.167813,3.993937,1.000000
#L-81 Cafe,"Sector 6, HSR Layout, HSR",19717.333333,23666.555556,3.9,48.0,400.0,12.916542,77.651955,0.283506,53.072359,1.222222
#refuel,"7, Ground Floor, RR Commercial Complex, Akshay Nagar, Bannerghatta Road, Bangalore",1164.000000,1348.000000,3.7,37.0,400.0,12.976747,77.575279,0.240556,32.932056,2.666667
1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",21321.000000,25523.166667,3.2,49.0,300.0,12.934656,77.623220,0.118605,18.597333,1.500000
100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd Phase, BTM, Bangalore",15574.000000,18621.666667,3.7,41.0,450.0,12.919468,77.615494,0.149773,22.720553,2.666667

In [16]:
df3 = df2.reset_index()

In [17]:
df3.head()

,name,address,Unnamed: 0,Unnamed: 0.1,rate,votes,cost_for_two,latitude,longitude,polarity_score,score,cluster
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",22462.500000,26916.000000,3.4,7.0,200.0,12.932102,77.685181,0.167813,3.993937,1.000000
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",19717.333333,23666.555556,3.9,48.0,400.0,12.916542,77.651955,0.283506,53.072359,1.222222
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",1164.000000,1348.000000,3.7,37.0,400.0,12.976747,77.575279,0.240556,32.932056,2.666667
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",21321.000000,25523.166667,3.2,49.0,300.0,12.934656,77.623220,0.118605,18.597333,1.500000
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",15574.000000,18621.666667,3.7,41.0,450.0,12.919468,77.615494,0.149773,22.720553,2.666667

In [19]:
df3.shape

(10018, 12)

In [20]:
df3.to_csv("final1.csv")

In [21]:
df3.head()

,name,address,Unnamed: 0,Unnamed: 0.1,rate,votes,cost_for_two,latitude,longitude,polarity_score,score,cluster
0,#FeelTheROLL,"Opposite Mantri Commercio, Outer Ring Road, De...",22462.500000,26916.000000,3.4,7.0,200.0,12.932102,77.685181,0.167813,3.993937,1.000000
1,#L-81 Cafe,"Sector 6, HSR Layout, HSR",19717.333333,23666.555556,3.9,48.0,400.0,12.916542,77.651955,0.283506,53.072359,1.222222
2,#refuel,"7, Ground Floor, RR Commercial Complex, Akshay...",1164.000000,1348.000000,3.7,37.0,400.0,12.976747,77.575279,0.240556,32.932056,2.666667
3,1000 B.C,"16, 17th A Main, Koramangala 5th Block, Bangalore",21321.000000,25523.166667,3.2,49.0,300.0,12.934656,77.623220,0.118605,18.597333,1.500000
4,100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C,"688, Thanish Corner, 7th Main, 10th Cross, 2nd...",15574.000000,18621.666667,3.7,41.0,450.0,12.919468,77.615494,0.149773,22.720553,2.666667